@import '../bootstrap-extended/include'; // Bootstrap includes
@import './include'; // Components includes


.custom-modal {
    .modal-content {
        background-color: #f8f8f8 !important;
        border-radius: $card-border-radius !important;

        .modal-header {
            background-color: $primary !important;
        }

        .modal-title {
            color: $white !important;
            font-size: $h4-font-size !important;
            font-weight: 400 !important;
            line-height: 1.25;
        }

        .modal-body {
            padding: 0px;
            margin: 20px;
        }
    }
}

.modal-open {
    padding-right: 0px !important;
    // .vertical-layout.vertical-menu-modern.menu-collapsed .navbar.floating-nav {
    //     left: 60px;
    // }

    // .vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.floating-nav {
    //     width: calc(100vw - (100vw - 100%) - 4.4rem - 95px);
    // }
}

.dark-layout {
    .custom-modal {
        .modal-content {
            background-color: $theme-dark-card-bg !important;
        }
    }
}

.custom-spinner-modal {
    .modal-content {
        border: none !important;
        background: transparent !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}

.custom-spinner-modal {
    width: 50px !important;
}

.custom-spinner-loading {
    height: 50px;
    width: 50px;
}